<!--
  rtabmap_ros_my/launch/madgwick.lainch
  http://wiki.ros.org/imu_filter_madgwick

  $ rosrun rosserial_python serial_node.py _port:=tcp
  $ roslaunch rtabmap_ros_my madgwick.launch
-->
<launch>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="madgwick" default="false"/>
  <arg name="use_odom" default="false"/>
  <arg name="use_imu_link" default="false"/>
  <arg name="SBC" default="false"/>

  <arg name="multi_robot_name" default=""/>

  <node pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core" output="screen">
    <!-- <param name="port" value="/dev/ttyACM0"/> -->
    <!-- <param name="port" value="/dev/ttyUSB0"/> -->
    <param name="port" value="tcp"/>
    <!-- <param name="baud" value="115200"/> -->
    <param name="baud" value="230400"/>
    <!-- <param name="baud" value="250000"/> -->
    <!-- <param name="baud" value="500000"/> -->
    <!-- <param name="baud" value="1000000"/> -->
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  
  <node if="$(arg use_odom)" pkg="tf" type="static_transform_publisher" name="odom_link1"
            args="0 0 0 0 0 0 map odom 100" /> 

  <!--
  <node pkg="tf" type="static_transform_publisher" name="imu_link1"
            args="0 0 0 0 0 0 odom imu_link 100" /> 
  -->
  
  <node if="$(arg use_imu_link)" pkg="tf" type="static_transform_publisher" name="imu_link1"
            args="0 0 0 0 0 0 base_footprint imu_link 100" />


   <!-- Turtlebot3 -->
   <group unless="$(arg SBC)">
      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
         <arg name="model" value="$(arg model)" />
      </include>
   </group>


  <!-- http://wiki.ros.org/imu_filter_madgwick -->
  <node if="$(arg madgwick)" pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
    <remap from="imu/data_raw" to="/imu" /> --> -->
    <remap from="imu/mag" to="/magnetic_field" /> --> -->
    <!-- <param name="use_mag"  type="bool" value="false"/> -->
  </node>
</launch>
