<!-- stereo_camera_test1.launch -->
<launch>
   <arg name="stereo_image" default="false" />
   <arg name="disparity" default="false" />

   <arg name="pi/2" value="1.5707963267948966" />
   <!-- 5[d] -->
   <arg name="pi_5" value="0.04363323129985824" />
   <!-- 15[d] -->
   <arg name="pi_15" value="0.1308996938995747" />
   <!-- 25[d] -->
   <arg name="pi_25" value="0.2181661564992912" />
   <!-- 30[d] -->
   <arg name="pi_30" value="0.2617993877991494" />
   <!-- 90[d] - 25[d] -->
   <arg name="pi_2_25" value="1.3526301702956054" />
   <!-- 90[d] - 30[d] -->
   <arg name="pi_2_30" value="1.3089969389957472" />
   <!-- 90[d] - 35[d] -->
   <arg name="pi_2_35" value="1.2653637076958888" />

   <!-- <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" /> -->
   <arg name="optical_rotate" value="0 0 0.19 -$(arg pi/2) 0 -$(arg pi/2)" />
   <!--<arg name="optical_rotate" value="0 0 0.19 -$(arg pi_2_25) 0 -$(arg pi/2)" /> -->
 
   <node pkg="tf" type="static_transform_publisher" name="camera_base_link"
      args="$(arg optical_rotate) base_link stereo_camera 100" />  
   <node pkg="tf" type="static_transform_publisher" name="camera2_base_link"
         args="0 0 0 0 0 0 stereo_camera source_frame 100" /> 
   <node pkg="tf" type="static_transform_publisher" name="camera3_base_link"
         args="0 0 0 0 0 0 source_frame camera 100" /> 

   <group ns="/stereo_camera" >
      <include file="$(find uvc_camera)/launch/single_stereo_node.launch">
      <!--
         /stereo_camera/left/camera_info
         /stereo_camera/left/image_raw
         /stereo_camera/right/camera_info
         /stereo_camera/right/image_raw
      -->
      </include>
      <node if="$(arg stereo_image)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
         <!-- <remap from="left/image_raw"    to="left/image_raw"/>
         <remap from="left/camera_info"  to="left/camera_info"/>
         <remap from="right/image_raw"   to="right/image_raw"/>
         <remap from="right/camera_info" to="right/camera_info"/> -->

         <!-- <param name="speckle_size" value="520"/> -->
         <!-- <param name="speckle_range" value="25"/> -->
         <!-- <param name="min_disparity" value="15"/> -->
         <!-- <param name="speckle_size" value="550"/>
         <param name="speckle_range" value="19"/>
         <param name="min_disparity" value="-20"/> -->
      </node>

		<!-- Create point cloud for the planner -->
		<!-- <node pkg="nodelet" type="nodelet" name="disparity2cloud" args="load rtabmap_ros/point_cloud_xyz /camera_process"> -->
		<node if="$(arg disparity)" pkg="nodelet" type="nodelet" name="disparity2cloud" args="standalone rtabmap_ros/point_cloud_xyz">
			<remap from="disparity/image"       to="disparity"/>
			<remap from="disparity/camera_info" to="right/camera_info"/>
			<remap from="cloud"                 to="cloudXYZ"/>
			
			<param name="voxel_size" type="double" value="0.05"/>
			<!-- <param name="decimation" type="int" value="4"/> -->
			<param name="decimation" type="int" value="1"/>
			<param name="max_depth" type="double" value="4"/>
		</node>


   </group>
</launch>
